@charset "UTF-8";

/* Body */
body {
	font-family: sans-serif;
	background-color: #f2f2f2;
	margin-top: 38px;
	margin-right: 0px;
	margin-bottom: 15px;
	margin-left: 0px;
	font-style: normal;
	font-weight: 200;
}




/*Nav */


a.nav-link {
	color: white;
	font-weight: bold;
	font-size: 14px;

}



.navbar {
	padding: 0;
}

nav {
	position: relative;
	font-family: sans-serif;
}

nav a {
	font-size: 12px;
	color: #086600;
}

nav li {
	position: right;
}


nav .dropdown-menu {
	position: relative;
	width: 100%;
	float: none;
}




/* logoarea Section */
.logoarea {
	padding-bottom: 100px;
}

.light {
	font-weight: bold;
	color: #717070;
}

#logoarea {
	background: #fff;
	background-position: 10% bottom;
	height: 600px;
}

#logoarea img {
	max-height: 550px;
	width: 300px;
	margin-top: 1px;
}

* {
	box-sizing: border-box;
}

.slideshow-container {
	max-width: 100%;
	position: fixed;
}

.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.2s;
	animation-name: fade;
	animation-duration: 1.2s;
}

@-webkit-keyframes fade {
	from {
		opacity: 0.4;
	}

	to {
		opacity: 1.2;
	}
}

@keyframes fade {
	from {
		opacity: 0.4;
	}

	to {
		opacity: 1.2;
	}
}

section {
	padding: 1em;
}





.tagline {
	text-align: center;
	color: red;
	margin-top: 110px;
	font-weight: lighter;
	text-transform: uppercase;
	letter-spacing: 1px;
}

/* img */
.img-fluid {
    max-width: 100%;
    height: auto;
}

/* Service */


#service {
	clear: both;
	display: inline-block;
	width: 100%;
	margin: 20px;
	padding: 49px;
	margin-top: -10px;
}

#service p {
	margin-bottom: 50px;
}

#thumbnail {
	width: 32%;
	text-align: justify;
	font-weight: lighter;
	line-height: 25px;
	float: left;
	padding-left: 25px;
	padding-right: 10px;
	margin: 8px;
	color: #A3A3A3;
	border: solid green 1px;
}



/* price */
#pricelist {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
  }
  
  #pricelist td, #customers th {
	border: 1px solid grey;
	padding: 8px;
  }
  
  
  #pricelist tr:hover {background-color: #ddd;}
  
  #pricelist th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #0099cc;
	color: white;
  }



/* Callout Section */
.callout-section {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	height: 786px;
	background: url("img/underarm\ copy.jpg") no-repeat fixed 0 0 / cover rgba(0, 0, 0, 0);
	height: 25%;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 100%;
}

.callout-section .overlay {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
	height: 100%;
	padding: 74px 0 83px;
	position: relative;
	width: 100%;
}

.callout-section h1 {
	color: #ffffff;
	letter-spacing: 0.8px;
	padding: 0 90px;
	margin: 0 0 17px;
	text-align: center;
}

.callout-section p {
	color: #ffffff;
	font-weight: 400;
	font-size: 18px;
	letter-spacing: 1.5px;
	line-height: 25px;
	margin: 0;
	text-align: center;
	padding: 0 90px;
}

.btn-area {
	display: block;
	margin: 25px 0 0px;
	text-align: center;
}

.callout-btn1 {
	background-color: #eeeeee;
	box-shadow: 0 3px 0 0 #bac1c6;
	color: #010101;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
	border-radius: 3px;
	cursor: pointer;
	display: inline-block;
	font-family: 'Open Sans';
	font-weight: 600;
	transition: all 0.3s ease-in-out 0s;
	font-size: 20px;
	letter-spacing: 0px;
	line-height: 20px;
	margin-bottom: 0;
	margin-top: 10px;
	padding: 14px 35px;
	margin: 0 10px;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	text-decoration: none;
}

.callout-btn2 {
	background-color: #0099cc;
	box-shadow: 0 3px 0 0 #003366;
	color: #ffffff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
	border-radius: 3px;
	cursor: pointer;
	display: inline-block;
	font-family: 'Open Sans';
	font-weight: 600;
	transition: all 0.3s ease-in-out 0s;
	font-size: 20px;
	letter-spacing: 0px;
	line-height: 20px;
	margin-bottom: 0;
	margin-top: 10px;
	padding: 14px 35px;
	margin: 0 10px;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	text-decoration: none;
}

.callout-btn1:hover {
	color: pink;
}

.callout-btn2:hover,
.callout-btn2:focus {
	color: pink;
}


a:hover,
a:focus {
	text-decoration: none !important;
}



/* Social */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

  
  .fa:hover {
	  opacity: 0.7;
  }
  
  .fa-facebook {
	background: #3B5998;
	color: white;
  }
  
  .fa-twitter {
	background: #55ACEE;
	color: white;
  }
  
  
  .fa-linkedin {
	background: #007bb5;
	color: white;
  }
  
  .fa-youtube {
	background: #bb0000;
	color: white;
  }
  
  .fa-instagram {
	background: #125688;
	color: white;
  }
  
  .fa-pinterest {
	background: #cb2027;
	color: white;
  }

	.fa-snapchat-ghost {
		background: #fffc00;
		color: white;
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	}

/* More info */
footer {
	background-color: #FFFFFF;
	padding-bottom: 75px;
	padding-top: 30px;
}

.footer_column {
	width: 50%;
	text-align: center;
	padding-top: 35px;
	float: left;
}

footer .footer_column h3 {
	color: #0099cc;
	text-align: center;
}

footer .footer_column p {
	color: black;
	background-color: #FFFFFF;
}

footer .footer_column p {
	padding-left: 30px;
	padding-right: 30px;
	text-align: justify;
	line-height: 25px;
	font-weight: lighter;
	margin-left: 20px;
	margin-right: 20px;
}

.footer_column img {
	float: right;
	margin-top: 20px;
	margin-right: 10px;
}

.button {
	width: 200px;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	text-align: center;
	vertical-align: middle;
	border-radius: 0px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	border: 3px solid #0099cc;
	color: #0099cc;
	transition: all 0.3s linear;
}

.button:hover {
	background-color: #FEFEFE;
	color: pink;
	cursor: pointer;
}

.copyright {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #717070;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
}

.footer_banner {
	background-color: #B3B3B3;
	padding-top: 10px;
	padding-bottom: 14PX;
	margin-bottom: 0px;
}

footer {
	display: inline-block;
}

.hidden {
	display: none;
}





/* Mobile */
@media (max-width: 320px) {
	.logo {
		width: 100%;
		text-align: center;
		margin-top: 13px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
	}

	.container header nav {
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		width: 100%;
		float: center;
	}

	header nav ul {}

	nav ul li {
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		width: 100%;
		text-align: center;
	}

	.text_column {
		width: 100%;
		text-align: justify;
		padding-top: 0px;
		padding-right: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
	}

	.service {
		width: 33%;
	}

	.thumbnail {
		width: 100%;
		color: red;
	}

	.footer_column {
		width: 100%;
		margin-top: 0px;
	}

	.parallax {
		text-align: center;
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		padding-top: 40%;
		padding-right: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
		width: 100%;
		font-size: 18px;
	}

	.parallax_description {
		padding-top: 0px;
		padding-right: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
		width: 90%;
		margin-top: 25px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 12px;
		float: none;
		text-align: center;
	}

	.banner {
		background-color: #2D9AB7;
		background-image: none;
	}

	.tagline {
		margin-top: 20px;
		line-height: 22px;
	}

	.hero_header {
		padding-left: 10px;
		padding-right: 10px;
		line-height: 22px;
		text-align: center;
	}
}

/* Small Tablets */
@media (min-width: 321px)and (max-width: 767px) {
	.logo {
		width: 100%;
		text-align: center;
		margin-top: 13px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		color: #043745;
	}

	.container header nav {
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		width: 100%;
		float: none;
		overflow: auto;
		display: inline-block;
		background: #52bad5;
	}

	header nav ul {
		padding: 0px;
		float: none;
	}

	nav ul li {
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		width: 100%;
		text-align: center;
		padding-top: 8px;
		padding-bottom: 8px;
	}

	.text_column {
		width: 100%;
		text-align: left;
		padding-top: 0px;
		padding-right: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
	}

	.thumbnail {
		width: 100%;
	}

	.footer_column {
		width: 100%;
		margin-top: 0px;
	}

	.parallax {
		text-align: center;
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		padding-top: 40%;
		padding-right: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
		width: 100%;
		font-size: 18px;
	}

	.parallax_description {
		padding-top: 0px;
		padding-right: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
		margin-top: 30%;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		float: none;
		width: 100%;
		text-align: center;
	}

	.thumbnail {
		width: 50%;
	}

	.parallax {
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		padding-right: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
		padding-top: 20%;
	}

	.parallax_description {
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		width: 100%;
		padding-top: 30px;
	}

	.banner {
		padding-left: 20px;
		padding-right: 20px;
	}

	.footer_column {
		width: 100%;
	}
}

/* Small Desktops */
@media (min-width: 768px) and (max-width: 1096px) {

	.text_column {
		width: 100%;
	}

	.thumbnail {
		width: 50%;
	}

	.text_column {
		width: 100%;
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		padding-top: 0px;
		padding-right: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
	}

	.banner {
		margin-top: 0px;
		padding-top: 0px;
	}
}